/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  box-sizing:border-box;
}
body {
  margin:300px;
  background-color: #fdd2a9;
}
.game-button {
  padding: 8px;
  border-radius:4px;
  background-color: #ed5e68;
  color: white;
  border: 0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  cursor: pointer;
}

input {
  padding:8px;
  border-radius:6px;
  background-color: white;
  border: 0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

 label {
   display: block;
   margin-bottom: 10px;
 }
